* {
  margin: 0;
  padding: 0;
}

#app,
input,
select {
  font-family: 'Lato', sans-serif;
  color: #333333;
}

a {
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

.title-1 {
  font-size: 32px;
  font-weight: 900;  
  margin-bottom: 8px;
}

.title-2 {
  font-size: 24px;
  font-weight: 300;  
  margin-bottom: 8px;
}

.title-3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.subtitle-uppercased {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 16px;
}


.large-vspace {
  display: flex;
  height: 98px;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;  
}

.page-content .page-row {
  display: flex;  
  width: 100%;  
  max-width: 1366px;  
  margin: 0 auto;
  padding: 0px 32px;
  box-sizing: border-box;
}

.page-content .page-section-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px 0px 0px 0px;
}

.page-content .page-row-vertical {
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .page-content .page-row {    
    padding: 0px 16px;    
  }

  .large-vspace {    
    height: 84px;
  }
}

@media only screen and (max-width: 540px) {
  .page-content .page-row {    
    padding: 0px 16px;    
  }

  .large-vspace {    
    height: 84px;
  }
}